body {
  background-color: #616EFF;
}

h1 {
  color: #FFF260;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

li.list-group-item {
  background-color: transparent;
  border: none;
}

.list-button,
.list-button:focus {
  background-color: #FFF260;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px;
  width: 200px;
  height: 50px;
  margin: 2px;
}

.modal-dialog {
  border: 2px solid black;
  border-radius: 5px;
}

.modal-content {
  background: #FFF260;
}

.modal h1 {
  text-shadow: none;
  margin-top: 0;
  color: black;
}
